<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <title>
      {{ page_title }}
      {%- if page_title != shop.name %} — {{ shop.name }}{% endif %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">

    {% if settings.favicon %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}

    {{ 'critical.css' | asset_url | stylesheet_tag }}

    {% render 'css-variables' %}

    {{ content_for_header }}
  </head>

  <body>
    <a href="#main-content" class="visually-hidden skip-to-content-link">
      {{ 'general.skip_to_content' | t }}
    </a>

    {% sections 'header-group' %}

    <main id="main-content" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>
